# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.claude/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env/
*.bak

.venv/
uv.lock
__pycache__

# Electron build artifacts
.vite/
out/

# env
.env
.vercel
.env*.local

# Biome server seeds cache when running dev mode
world_engine/
